<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>"KAKAO_API_KEY"</key>
	<string>191dedb3f0609fe5aab6a6dae502cee1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>education.techit.zipadoo.dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zipadoo</string>
			</array>
		</dict>
	</array>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
